@model IEnumerable<AppraisalSystem.Models.UserModel>

@{
    ViewBag.Title = "การจัดการผู้ใช้งาน";
    ViewBag.Header = "การจัดการผู้ใช้งาน";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{ 
  <div class="form-group">
 @Html.TextBox("txtSearchKeyword", Convert.ToString(TempData["isKeyWord"]), new { @class = "form-control ui-wizard-content", style = "width:250px" })
  </div>
 <div class="form-group">
 <!--input type="submit" value="ค้นหา" /-->
<button type="submit" id="btnSubmit" class="btn btn-primary ui-wizard-content ui-formwizard-button" ><i class="fa fa-edit"></i> @Resources.ConfigResource.BtnSearch</button>
 <!--input type="button" value="เพิ่มผู้ใช้งาน" onclick="location.href='@Url.Action("register", "backend")'" /-->
 <button class="btn btn-primary ui-wizard-content ui-formwizard-button" type="button" onclick="location.href='@Url.Action("register", "backend")'" ><i class="fa fa-edit"></i> @Resources.ConfigResource.BtnAddUser</button>
 </div>
 <table class="table table-striped table-bordered table-hover dataTable no-footer" >
    <tr>
    
                   
                <th></th>
                <th></th>
                <th></th>
                <th>
                    ชื่อผู้ใช้งาน
                </th>
                 <th>
                    สิทธิ์ผู้ใช้งาน
                </th>
                 <th>
                    ชื่อ-นามสกุล
                </th>
                <th>
                    อีเมลล์
                </th>
                <th>
                   เบอร์โทรศัพท์
                </th>
              
            </tr>
    @foreach (var item in Model)
    {
        <tr>
              <td> @Html.ActionLink("Update", "UpdateUser", new { id = item.UserID })</td>
              <td> @Html.ActionLink("Delete", "DeleteUser", new { id = item.UserID }) </td>
                 @if (item.Status == 1)
                 {
                <td> @Html.ActionLink("Lock", "LockUser", new { id = item.UserID, isLock = true }) </td>
                 }
                 else
                 {
                     <td> @Html.ActionLink("UnLock", "LockUser", new { id = item.UserID, isLock = false }) </td>
                 }
            
            <td>@item.UserName </td>
             <td>@item.RoleName</td>
             <td>@item.Name</td>
              <td>@item.Email</td>
               <td>@item.Phone</td>
        </tr>
    }
</table>
     
}