@model AppraisalSystem.Models.RegisterModel

@{ 
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create a new Account</h2>


@using (Html.BeginForm("Register", "Backend", FormMethod.Post))
{
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <div>
        <fieldset>
        

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">

            @Html.EditorFor(model => model.UserName)

                @Html.ValidationMessageFor(m => m.UserName)
            </div>
              <div class="editor-label">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control ui-wizard-content" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
             <div class="editor-label">
                @Html.LabelFor(m => m.CitizenID)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.CitizenID, new { @class = "form-control ui-wizard-content" })
                @Html.ValidationMessageFor(m => m.CitizenID)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control ui-wizard-content" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
               <div class="editor-label">
                @Html.LabelFor(m => m.Phone)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control ui-wizard-content" })
                @Html.ValidationMessageFor(m => m.Phone)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.RoleID)
            </div>
              <div class="editor-field">
               @Html.TextBoxFor(m => m.RoleID)
            </div>

            <p>
                <input type="submit" value="บันทึก" />
                <input type="button" value="กลับหน้าหลัก" onclick="location.href='@Url.Action("manage", "backend")'" />
            </p>
        </fieldset>
    </div>
}
