@model AppraisalSystem.Models.RegisterModel

@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Update Account</h2>


@using (Html.BeginForm("UpdateUser", "Backend", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
          <div class="form-group">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="form-group">

            @Html.EditorFor(model => model.UserName, new { @class = "form-control ui-wizard-content", style = "width:400px" })

                @Html.ValidationMessageFor(m => m.UserName)
            </div>
              <div class="form-group">
                @Html.LabelFor(m => m.Name)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control ui-wizard-content", style = "width:400px" })
                @Html.ValidationMessageFor(m => m.Name)
            </div>
             <div class="form-group">
                @Html.LabelFor(m => m.CitizenID)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.CitizenID, new { @class = "form-control ui-wizard-content", style = "width:400px" })
                @Html.ValidationMessageFor(m => m.CitizenID)
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control ui-wizard-content", style = "width:400px" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
               <div class="form-group">
                @Html.LabelFor(m => m.Phone)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control ui-wizard-content", style = "width:400px" })
                @Html.ValidationMessageFor(m => m.Phone)
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control ui-wizard-content", style = "width:400px" })
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control ui-wizard-content", style = "width:400px" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.RoleID)
            </div>
             <div class="form-group">
                @Html.DropDownListFor(m => m.RoleID, new SelectList(ViewData["Role"] as List<AppraisalSystem.Models.RoleModel>, "RoleID", "RoleName"), new { @class = "form-control", style = "width:400px" })
            </div>

        <div class="form-group">
                <button type="submit" id="btnSubmit" class="btn btn-primary ui-wizard-content ui-formwizard-button" style="float:left;margin-right:10px" value="แก้ไข" ><i class="fa fa-edit"></i> @Resources.ConfigResource.BtnEdit</button>
            <!--input type="submit" value="แก้ไขข้อมูล" />
            <input type="button" value="กลับหน้าหลัก" onclick="location.href='@Url.Action("manage", "backend")'" /-->
         </div>
    </fieldset>
}


