@model List<AppraisalSystem.Models.CompareDescriptionModel>
           
@{
    ViewBag.Title = "รายละเอียดเพิ่มเติม";
    ViewBag.Header = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"><label>รายละเอียดเพิ่มเติม</label></div>
<div class="panel-body">
@functions 
{
    object getHtmlAttributes(string CssClass, string istyle)
    {

        var manageType = @TempData["appraisalManageType"].ToString();
        if (manageType == "v")
        {
            return new { @class = CssClass, @readonly = "readonly", style = istyle };
        }
        return new { @class = CssClass, style = istyle };
    }
}
@using (Html.BeginForm("ManageOtherDetail", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-8">
        <div class="form-group">
            <label>หมายเลขงาน</label>
            @for (var i = 0; i < Model.Count; i++)
            {
                @Html.LabelFor(model => model[i].appraisal_assets_id, Convert.ToString(ViewData["AppraisalCode"]))
            }
        </div> 
        @for (var i = 0; i < Model.Count; i++)
        {
            <div class="form-group">
                @{
                    var labelH = "ข้อมูลเทียบ "+i;
                    if (i == 0)
                    {
                        labelH = "สรุป";
                    }
                }
                <label>ข้อมูลเทียบ @Html.Raw(labelH)</label>
                @Html.TextAreaFor(model => model[i].note, 3, 3, new { @class = "form-control" })
            </div>
        }
        @for (var i = 0; i < Model.Count; i++)
        {
            @Html.TextBoxFor(model => model[i].sequence, new { style = "display: none;" })
        }
         <div class="form-group">
            <button type="submit" id="btnSubmit" class="btn btn-info ui-wizard-content ui-formwizard-button" style="float:right;margin-right:10px" value="บันทึก"><i class="fa fa-save"></i> @Resources.ConfigResource.BtnSubmit</button>
            <button type="submit" id="btnSubmit" class="btn btn-primary ui-wizard-content ui-formwizard-button" style="float:right;margin-right:10px" value="แก้ไข" ><i class="fa fa-edit"></i> @Resources.ConfigResource.BtnEdit</button>
            <button type="submit" id="btnExportPDF" class="btn btn-warning ui-wizard-content ui-formwizard-button" style="float:right;margin-right:10px" value="แก้ไข" ><i class="fa fa-print"></i> @Resources.ConfigResource.BtnExportPDF</button>
        </div>
    </div>
}
</div>

