@model List<AppraisalSystem.Models.UploadPictureAssetModel>
@{
    ViewBag.Title = "รูปข้อมูลเทียบ";
    ViewBag.Header = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"><label>รูปข้อมูลเทียบ</label></div>
<div class="panel-body">
@using (Html.BeginForm("ManageCompareAssetPic", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-8">
           @functions {
         object getHtmlAttributes( string CssClass,string istyle)
         {

             var manageType = @TempData["appraisalManageType"];
             if (manageType=="v")
             {
                 return new { @class = CssClass, @readonly = "readonly", style = istyle };
             }
             return new { @class = CssClass, style = istyle };
         }
         }
        <div class="form-group">
            <label>หมายเลขงาน</label>
            @Html.TextBox("appraisalAssetCode", @TempData["appraisalAssetCode"], new { @class = "form-control ui-wizard-content", @readonly = "readonly", style = "width:250px" })
              @Html.TextBox("appraisalManageType", @TempData["appraisalManageType"], new { @class = "form-control ui-wizard-content", @style = "display:none" })
        </div> 
             @for (var i = 0; i < Model.Count;i++ )
         {
           @Html.HiddenFor(model => Model[i].appraisal_assets_id)
           @Html.HiddenFor(model => Model[i].image_assets_id)
           @Html.HiddenFor(model => Model[i].image_path)
          <div class="form-group">
            <label>รูปภาพข้อมูลเทียบ</label>
             @if (TempData["appraisalManageType"] != "v")
             {
            <input type="file" name="MultipleFiles"/>
             }
        </div>
             
      if (Model[i].image_path != null && Model[i].image_path != "")
      {
            <div class="form-group">   
             <img src= "@Url.Content(Model[i].image_path)" alt="Edit" width="200px" id="img_@(Model[i].image_assets_id)" />
               @if (TempData["appraisalManageType"] != "v"){
              <button type="button" id="icon_@(Model[i].image_assets_id)" value="@(Model[i].image_assets_id)" class="btn btn-info ui-wizard-content ui-formwizard-button" onclick="removeImg(value);">X</button>
                   }
            </div>
      }
        <div class="form-group">
            <label>คำอธิบายรูปภาพ</label>
             @Html.TextAreaFor(model => Model[i].description, @getHtmlAttributes("form-control", ""))
        </div>
         }

         <div class="form-group">
             @if (TempData["appraisalManageType"] == "")
         {
            <button type="submit" id="btnSubmit" class="btn btn-info ui-wizard-content ui-formwizard-button" style="float:right;margin-right:10px" value="บันทึก"><i class="fa fa-save"></i> @Resources.ConfigResource.BtnSubmit</button>
         }
             else if (TempData["appraisalManageType"] == "u")
         {
             <button type="submit" id="btnSubmit" class="btn btn-primary ui-wizard-content ui-formwizard-button" style="float:right;margin-right:10px" value="แก้ไข" ><i class="fa fa-edit"></i> @Resources.ConfigResource.BtnEdit</button>
         } 
        </div>
    </div>
}
</div>


 <script type="text/javascript">

     function removeImg(value) {



         var url = "/Manage/removeImgDB";
         var imageAssetId = value;
         $.get(url, { imageAssetId: imageAssetId }, function (data) {
             if (data) {
                 $("#img_" + value).css('display', 'none');
                 $("#icon_" + value).css('display', 'none');
             }
         });
     }
    
</script>