@model AppraisalSystem.Models.AppraisalJobModel
@{
    ViewBag.Title = "ข้อมูลที่ตั้งทรัพย์สิน";
    ViewBag.Header = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"><label>ข้อมูลที่ตั้งทรัพย์สิน</label></div>
<div class="panel-body">
@using (Html.BeginForm())
{
    <div class="col-md-8">
     @Html.Display(ViewData["alert"] != null?ViewData["alert"].ToString():"")
        <div class="form-group">
            <label>หมายเลขงาน</label>
             @Html.TextBoxFor(m => m.appraisal_assets_code, new { @class = "form-control ui-wizard-content" })
             @Html.TextBox("AssetManageType", @TempData["AssetManageType"], new { @class = "form-control ui-wizard-content", @style = "display:none" })
        </div>
         <div class="form-group">
            <label class="textbox-inline">
                <label>ชื่อหมู่บ้าน</label>
                @Html.TextBoxFor(m => m.village, new { @class = "form-control ui-wizard-content ", @ViewBag.Data })
            </label>
            <label class="textbox-inline">
                <label>ซอย</label>
                 @Html.TextBoxFor(m => m.alley, new { @class = "form-control ui-wizard-content", @ViewBag.Data })
            </label>
             <label class="textbox-inline">
                <label>ถนน</label>
                 @Html.TextBoxFor(m => m.road, new { @class = "form-control ui-wizard-content", @ViewBag.Data })
            </label>
        </div>
        <div class="form-group">
            <label class="textbox-inline">
                <label>อำเภอ</label>
                @Html.DropDownListFor(m => m.amphur_id, new SelectList(ViewData["Amphur"] as List<AppraisalSystem.Models.AmphurModel>, "amphur_id", "amphur_name"), new { @class = "form-control", style = "width:205px", @ViewBag.Data })
            </label>
            <label class="textbox-inline">
                <label>ตำบล</label>
                @Html.DropDownListFor(m => m.district_id, new SelectList(ViewData["District"] as List<AppraisalSystem.Models.DistrictModel>, "district_id", "district_name"), new { @class = "form-control", style = "width:205px", @ViewBag.Data })
            </label>
             <label class="textbox-inline">
                <label>จังหวัด</label>
                @Html.DropDownListFor(m => m.province_id, new SelectList(ViewData["Province"] as List<AppraisalSystem.Models.ProvinceModel>, "province_id", "province_name"), new { @class = "form-control", style = "width:205px", @ViewBag.Data })
            </label>
        </div>
        <div class="form-group">
            <label>รายละเอียดที่ตั้ง</label>
            @Html.TextAreaFor(m => m.detailed_location, 3, 3, new { @class = "form-control", @ViewBag.Data })
        </div>
        <div class="form-group">
            <label>ประเภทของทรัพย์สิน</label>
            @Html.DropDownListFor(m => m.appraisal_assets_id, new SelectList(ViewData["AssetType"] as List<AppraisalSystem.Models.FilterModel>, "filter_type_code", "filter_text"), new { @class = "form-control", @ViewBag.Data })
        </div>
        <div class="form-group">
            <label>วิธีการประเมิน</label>
            @Html.DropDownListFor(m => m.appraisal_assets_id, new SelectList(ViewData["AssetmentMethod"] as List<AppraisalSystem.Models.FilterModel>, "filter_type_code", "filter_text"), new { @class = "form-control", @ViewBag.Data })
        </div>
        <div class="form-group">
            <label>สิทธิการเข้าออก</label>
            @Html.DropDownListFor(m => m.appraisal_assets_id, new SelectList(ViewData["RightOfAccess"] as List<AppraisalSystem.Models.FilterModel>, "filter_type_code", "filter_text"), new { @class = "form-control", @ViewBag.Data })
        </div>
        <div class="form-group">
            <label>สีตาม พรบ.ผังเมือง</label>
            @Html.DropDownListFor(m => m.appraisal_assets_id, new SelectList(ViewData["PaintTheTown"] as List<AppraisalSystem.Models.FilterModel>, "filter_type_code", "filter_text"), new { @class = "form-control", @ViewBag.Data })
        </div>
         <div class="form-group">
        
             @if (TempData["AssetManageType"] == "i")
             {
            <button type="submit" id="btnSubmit" class="btn btn-info ui-wizard-content ui-formwizard-button" style="float:right;margin-right:10px" value="บันทึก"><i class="fa fa-save"></i> @Resources.ConfigResource.BtnSubmit</button>
             }
             else if (TempData["AssetManageType"] == "u")
             {
             <button type="submit" id="btnSubmit" class="btn btn-primary ui-wizard-content ui-formwizard-button" style="float:right;margin-right:10px" value="แก้ไข" ><i class="fa fa-edit"></i> @Resources.ConfigResource.BtnEdit</button>
             }
         
         <button type="submit" id="btnExportPDF" class="btn btn-warning ui-wizard-content ui-formwizard-button" style="float:right;margin-right:10px" value="แก้ไข" ><i class="fa fa-print"></i> @Resources.ConfigResource.BtnExportPDF</button>
        </div>
        
    </div>
}
</div>
