@{
    ViewBag.Title = "สรุปราคา";
    ViewBag.Header = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"><label>สรุปราคา</label></div>
<div class="panel-body">
@functions 
{
    object getHtmlAttributes(string CssClass, string istyle)
    {

        var manageType = @TempData["appraisalManageType"].ToString();
        if (manageType == "v")
        {
            return new { @class = CssClass, @readonly = "readonly", style = istyle };
        }
        return new { @class = CssClass, style = istyle };
    }
}
@using (Html.BeginForm())
{
    <div class="col-md-12">
        <div class="form-group">
            <label>หมายเลขงาน</label>
            <input class="form-control ui-wizard-content">
        </div> 
        <div class="well">
            <div class="form-group">
                <label class="textbox-inline fieldHeader100">
                    <label>ชื่อหมู่บ้าน</label>
                </label>
                <label class="textbox-inline">
                    @Html.TextBox("a", new { @class = "form-control ui-wizard-content", @readonly = "readonly" })
                </label>
                <label class="textbox-inline fieldHeader100">
                    <label>ซอย</label>
                </label>
                <label class="textbox-inline">
                    @Html.TextBox("b", new { @class = "form-control ui-wizard-content", @readonly = "readonly" })
                </label>
                <label class="textbox-inline fieldHeader100">
                    <label>ถนน</label>
                </label>
                <label class="textbox-inline">
                    @Html.TextBox("c", new { @class = "form-control ui-wizard-content", @readonly = "readonly" })
                </label>
            </div>
            <div class="form-group">
                <label class="textbox-inline fieldHeader100">
                    <label>อำเภอ</label>
                </label>
                <label class="textbox-inline ddlForHeader100">
                    @Html.TextBox("d", new { @class = "form-control ui-wizard-content", @readonly = "readonly" })
                </label>
                <label class="textbox-inline fieldHeader100">
                    <label>ตำบล</label>
                </label>
                <label class="textbox-inline ddlForHeader100">
                     @Html.TextBox("e", new { @class = "form-control ui-wizard-content", @readonly = "readonly" })
                </label>
                <label class="textbox-inline fieldHeader100">
                    <label>จังหวัด</label>
                </label>
                <label class="textbox-inline ddlForHeader100">
                     @Html.TextBox("f", new { @class = "form-control ui-wizard-content", @readonly = "readonly" })
                </label>
            </div>
            <div class="form-group">
                <label>รายละเอียดที่ตั้ง</label>
                 @Html.TextBox("g", new { @class = "form-control ui-wizard-content", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <label>ประเภทของทรัพย์สิน</label>
                @Html.TextBox("h", new { @class = "form-control ui-wizard-content", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <label>วิธีการประเมิน</label>
                @Html.TextBox("i", new { @class = "form-control ui-wizard-content", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <label>สิทธิการเข้าออก</label>
                @Html.TextBox("j", new { @class = "form-control ui-wizard-content", @readonly = "readonly" })
            </div>
            <div class="form-group">
                <label>สีตาม พรบ.ผังเมือง</label>
                @Html.TextBox("k", new { @class = "form-control ui-wizard-content", @readonly = "readonly" })
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="well">
             <div class="form-group">
                <label class="textbox-inline">
                    <label>&nbsp;<br/><br/>เนื้อที่(คิดเป็นตารางวา)</label>
                </label>
                <label class="textbox-inline">&nbsp;<br/>
                     @Html.TextBox("l", new { @class = "form-control ui-wizard-content", @readonly = "readonly" })
                </label>
                <label class="textbox-inline">
                    <label><br/>x&nbsp;</label>
                </label>
                <label class="textbox-inline">มูลค่าสุทธิ<br/>
                     @Html.TextBox("m", new { @class = "form-control ui-wizard-content", @readonly = "readonly" })
                </label>
                <label class="textbox-inline">
                    <label><br/>=&nbsp;</label>
                </label>
                <label class="textbox-inline"><br/>
                    @Html.TextBox("txtCalResult", new { @class = "form-control ui-wizard-content", @readonly = "readonly" })
                </label>
            </div>
        </div>
    </div>
}
</div>
