@model List<AppraisalSystem.Models.UploadPictureAssetModel>
@{
    ViewBag.Title = "รูปเอกสารสิทธิ์";
    ViewBag.Header = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"><label>รูปเอกสารสิทธิ์</label></div>
<div class="panel-body">
@using (Html.BeginForm("ManageAssetDocPic", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-8">
        <div class="form-group">
            <label>หมายเลขงาน</label>
            <input class="form-control ui-wizard-content">
        </div> 
         @for (var i = 0; i < Model.Count;i++ )
         {
          <div class="form-group">
            <label>รูปเอกสารสิทธิ์</label>
            <input type="file" name="MultipleFiles">
        </div>
             
             if (Model[i].image_path != null && Model[i].image_path != "")
             {
            <div class="form-group">   
             <img src= "@Url.Content(Model[i].image_path)" alt="Image" width="200px"/>
              <!--img src= "@Url.Content("~/Images/Document/1/Koala.jpg")" alt="Image"  width="200px" /-->
            </div>
             }
        <div class="form-group">
            <label>คำอธิบายรูปภาพ</label>
             @Html.TextAreaFor(model => Model[i].description, new { @class = "form-control" })
        </div>
         }
        <div class="form-group">
            <button type="submit" id="btnSubmit" class="btn btn-info ui-wizard-content ui-formwizard-button" style="float:right;margin-right:10px" value="บันทึก"><i class="fa fa-save"></i> @Resources.ConfigResource.BtnSubmitPics</button>
            <!--button type="submit" id="btnSubmit" class="btn btn-primary ui-wizard-content ui-formwizard-button" style="float:right;margin-right:10px" value="แก้ไข" ><i class="fa fa-edit"></i> @Resources.ConfigResource.BtnEditPics</button>
            <button type="submit" id="btnExportPDF" class="btn btn-warning ui-wizard-content ui-formwizard-button" style="float:right;margin-right:10px" value="แก้ไข" ><i class="fa fa-print"></i> @Resources.ConfigResource.BtnExportPDF</button-->
        </div>
    </div>
}
</div>
