@model List<AppraisalSystem.Models.CompareDescriptionModel>
           
@{
    ViewBag.Title = "รายละเอียดเพิ่มเติม";
    ViewBag.Header = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-heading"><label>รายละเอียดเพิ่มเติม</label></div>
<div class="panel-body">
@functions 
{
    object getHtmlAttributes(string CssClass, string istyle)
    {

        var manageType = @TempData["appraisalManageType"].ToString();
        if (manageType == "v")
        {
            return new { @class = CssClass, @readonly = "readonly", style = istyle };
        }
        return new { @class = CssClass, style = istyle };
    }
}
@using (Html.BeginForm("ManageOtherDetail", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-8">
        @Html.Raw(ViewData["alert"] != null ? ViewData["alert"].ToString() : "")
        <div class="form-group">
            <label>หมายเลขงาน</label>
                 @Html.TextBox("appraisalAssetCode", @TempData["appraisalAssetCode"], new { @class = "form-control ui-wizard-content", @readonly = "readonly" })
                @Html.TextBox("appraisalManageType", @TempData["appraisalManageType"], new { @class = "form-control ui-wizard-content", @style = "display:none" })
                
        </div> 
        @for (var i = 0; i < Model.Count; i++)
        {
            @Html.HiddenFor(model => Model[i].appraisal_assets_id)
            <div class="form-group">
                @{
            var labelH = "ข้อมูลเทียบ " + i;
            if (i == 0)
            {
                labelH = "สรุป";
            }
                }
                <label>ข้อมูลเทียบ @Html.Raw(labelH)</label>
                @Html.TextAreaFor(model => model[i].note, 3, 3, @getHtmlAttributes("form-control", null))
            </div>
        }
        @for (var i = 0; i < Model.Count; i++)
        {
            @Html.TextBoxFor(model => model[i].sequence, new { style = "display: none;" })
        }
         <div class="form-group">
            @{string appraisalManageType = Convert.ToString(TempData["AppraisalManageType"]);
              if (string.IsNullOrEmpty(appraisalManageType) || appraisalManageType == "u")
              {
             <button type="submit" id="btnSubmit" class="btn btn-info ui-wizard-content ui-formwizard-button" style="float:right;margin-right:10px" value="บันทึก"><i class="fa fa-save"></i> @Resources.ConfigResource.BtnSubmit</button>
              }
            }
        </div>
    </div>
}
</div>

