@model List<AppraisalSystem.Models.CompareAssetModel>

@{
    ViewBag.Title = "ตารางเปรียบเทียบ";
    ViewBag.Header = "";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var shapeInfo = ViewData["SHAPE_INFORMATION"] as List<AppraisalSystem.Models.FilterModel>;
    var environmentInfo = ViewData["ENVIRONMENT"] as List<AppraisalSystem.Models.FilterModel>;
    var conLandInfo = ViewData["CONDITION_LAND"] as List<AppraisalSystem.Models.FilterModel>;
    var roadTypeInfo = ViewData["CHARACTERISTICS_ACCESS"] as List<AppraisalSystem.Models.FilterModel>;
    var publicUtilityInfo = ViewData["PUBLIC_UTILITY"] as List<AppraisalSystem.Models.FilterModel>;
    var isInfo = ViewData["ISCONDITION"] as List<AppraisalSystem.Models.FilterModel>;
    var levelInfo = ViewData["LEVEL"] as List<AppraisalSystem.Models.FilterModel>;
}
@functions 
{
    object getHtmlAttributes(string CssClass, string istyle)
    {

        var manageType = @TempData["appraisalManageType"].ToString();
        if (manageType == "v")
        {
            return new { @class = CssClass, @readonly = "readonly", style = istyle };
        }
        return new { @class = CssClass, style = istyle };
    }
}
<div class="panel-heading"><label>ตารางเปรียบเทียบ</label></div>
<div class="panel-body">
@using (Html.BeginForm("ManageCompareAsset", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col-md-12">
        <div class="form-group">
            <label>หมายเลขงาน</label>
            @for (var i = 0; i < Model.Count; i++)
            {
                @Html.LabelFor(model => model[i].appraisal_assets_id, Convert.ToString(ViewData["AppraisalCode"]))
            }
        </div>
        <div class="form-group">
            <label>ตารางเปรียบเทียบข้อมูล</label>
        </div>
        <div class="form-group">
            <table id="dataTables-example" class="table table-striped table-bordered table-hover dataTable no-footer" aria-describedby="dataTables-example_info">
                <thead>
                    <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 359px;" aria-label="รายละเอียดการวิเคราะห์" aria-sort="ascending">รายละเอียดการวิเคราะห์</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 359px;" aria-label="ทรัพย์สิน">ทรัพย์สิน</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 359px;" aria-label="ข้อมูลเทียบ1">ข้อมูลเทียบ1</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 359px;" aria-label="ข้อมูลเทียบ2">ข้อมูลเทียบ2</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 359px;" aria-label="ข้อมูลเทียบ3">ข้อมูลเทียบ3</th></tr>
                </thead>
                <tbody>
                <tr class="gradeA odd">
                        <td class="sorting_1">ราคาสำรวจ / หน่วย</td>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <td>@Html.TextBoxFor(model => model[i].survey_price, new { @class = "form-control ui-wizard-content" })</td>
                        }
                    </tr><tr class="gradeA even">
                        <td class="sorting_1">ราคาที่พิจารณาเหมาะสม บาท/หน่วย</td>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <td>@Html.TextBoxFor(model => model[i].appropriate_price, new { @class = "form-control ui-wizard-content" })</td>
                        }
                    </tr><tr class="gradeA odd">
                        <td class="sorting_1">แหล่งข้อมูล</td>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <td>@Html.TextBoxFor(model => model[i].data_source, new { @class = "form-control ui-wizard-content" })</td>
                        }
                    </tr><tr class="gradeA even">
                        <td class="sorting_1">เบอร์โทร.</td>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <td>@Html.TextBoxFor(model => model[i].phone, new { @class = "form-control ui-wizard-content" })</td>
                        }
                    </tr><tr class="gradeA odd">
                        <td class="sorting_1">ขนาดเนื้อที่</td>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <td>@Html.TextBoxFor(model => model[i].size_area, new { @class = "form-control ui-wizard-content" })</td>
                        }
                    </tr><tr class="gradeA even">
                        <td class="sorting_1">รูปทรงข้อมูล</td>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <td class="  "> 
                                @Html.DropDownListFor(model => model[i].shape_information_id, new SelectList(ViewData["SHAPE_INFORMATION"] as List<AppraisalSystem.Models.FilterModel>, "filter_type_code", "filter_text", Model[i].shape_information_id), new { @class = "form-control", style = "width:205px" })
                            </td>
                        }
                    </tr></tbody>
            </table>
            <table id="dataTables-example" class="table table-striped table-bordered table-hover dataTable no-footer" aria-describedby="dataTables-example_info">
                <thead>
                    <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 359px;" aria-label="ปัจจัยที่พิจาณาเปรียบเทียบ" aria-sort="ascending">ปัจจัยที่พิจาณาเปรียบเทียบ</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 359px;" aria-label="ทรัพย์สิน">ทรัพย์สิน</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 359px;" aria-label="ข้อมูลเทียบ1">ข้อมูลเทียบ1</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 359px;" aria-label="ข้อมูลเทียบ2">ข้อมูลเทียบ2</th>
                    <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 359px;" aria-label="ข้อมูลเทียบ3">ข้อมูลเทียบ3</th></tr>
                </thead>
                <tbody>
                <tr class="gradeA odd">
                        <td class="sorting_1">1.สภาพแวดล้อม/ทำเลที่ตั้ง</td>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <td class="  "> 
                                @Html.DropDownListFor(model => model[i].environment_id, new SelectList(ViewData["ENVIRONMENT"] as List<AppraisalSystem.Models.FilterModel>, "filter_type_code", "filter_text", Model[i].environment_id), new { @class = "form-control", style = "width:205px" })
                            </td>
                        }
                    </tr><tr class="gradeA even">
                        <td class="sorting_1">2.ลักษณะและสภาพของทรัพย์สิน</td>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <td class="  "> 
                                @Html.DropDownListFor(model => model[i].characteristics_assets_id, new SelectList(ViewData["CONDITION_LAND"] as List<AppraisalSystem.Models.FilterModel>, "filter_type_code", "filter_text", Model[i].characteristics_assets_id), new { @class = "form-control", style = "width:205px" })
                            </td>
                        }
                    </tr><tr class="gradeA odd">
                        <td class="sorting_1">3.ลักษณะและสภาพทางเข้าออก</td>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <td class="  "> 
                                @Html.DropDownListFor(model => model[i].characteristics_access_id, new SelectList(ViewData["CHARACTERISTICS_ACCESS"] as List<AppraisalSystem.Models.FilterModel>, "filter_type_code", "filter_text", Model[i].characteristics_access_id), new { @class = "form-control", style = "width:205px" })
                            </td>
                        }
                    </tr><tr class="gradeA odd">
                        <td class="sorting_1">4.ระบบสาธารรณูปโภค</td>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <td class="  "> 
                                @Html.DropDownListFor(model => model[i].utilities_id, new SelectList(ViewData["PUBLIC_UTILITY"] as List<AppraisalSystem.Models.FilterModel>, "filter_type_code", "filter_text", Model[i].utilities_id), new { @class = "form-control", style = "width:205px" })
                            </td>
                        }
                    </tr><tr class="gradeA even">
                        <td class="sorting_1">5.ข้อจำกัดและการใช้ประโยชน์ตามกฎหมาย</td>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <td class="  "> 
                                @Html.DropDownListFor(model => model[i].terms_id, new SelectList(ViewData["ISCONDITION"] as List<AppraisalSystem.Models.FilterModel>, "filter_type_code", "filter_text", Model[i].terms_id), new { @class = "form-control", style = "width:205px" })
                            </td>
                        }
                    </tr><tr class="gradeA even">
                        <td class="sorting_1">6.สภาพคล่องในการซื้อขายเปลี่ยนมือ</td>
                        @for (var i = 0; i < Model.Count; i++)
                        {
                            <td class="  "> 
                                @Html.DropDownListFor(model => model[i].liquidity_id, new SelectList(ViewData["LEVEL"] as List<AppraisalSystem.Models.FilterModel>, "filter_type_code", "filter_text", Model[i].liquidity_id), new { @class = "form-control", style = "width:205px" })
                            </td>
                        }
                    </tr></tbody>
            </table>
            @for (var i = 0; i < Model.Count; i++)
            {
                @Html.TextBoxFor(model => model[i].sequence, new { style = "display: none;" })
            }
        </div>
        <div class="form-group">
            <button type="submit" id="btnSubmit" class="btn btn-info ui-wizard-content ui-formwizard-button" style="float:right;margin-right:10px" value="บันทึก"><i class="fa fa-save"></i> @Resources.ConfigResource.BtnSubmit</button>
            <button type="submit" id="btnSubmit" class="btn btn-primary ui-wizard-content ui-formwizard-button" style="float:right;margin-right:10px" value="แก้ไข" ><i class="fa fa-edit"></i> @Resources.ConfigResource.BtnEdit</button>
            <button type="submit" id="btnExportPDF" class="btn btn-warning ui-wizard-content ui-formwizard-button" style="float:right;margin-right:10px" value="แก้ไข" ><i class="fa fa-print"></i> @Resources.ConfigResource.BtnExportPDF</button>
        </div>
        
    </div>
}
</div>
